<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
      {{>navbar}}

  <!-- main header  -->
  <div class="container-fluid main_header" >
    <div class="row">
       <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!-- left side div -->
              
                <div class="col-md-6 col-12 main_header_right align-items-center ">
                    <figure>
                        <img src="images/logo3.png" alt="sonu" class="img-fluid" title="sonu shrivastav" width="490px">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                   <p>Welcome to weather App</p>
                    <h1>I Am A<span class="txt_color"> Full Stack Developer </span> And Good Learner</h1>
                  <a href="https://www.google.com" target="_blank"><button>About me</button></a>
                </div>
                     <!-- right side div -->
             

        </div>
    </div>
    </div>
  </div>
    
    {{!-- footer code --}}
    {{>footer}}

</body>
</html>